<div>
  <h4>The following map represents all types of places.</h4>
  <div class="d-flex flex-column">
    <div>
      <span style="color: dodgerblue">Blue</span> <span> markers are for <b>Shelters</b>.</span>
    </div>
    <div>
      <span style="color: green">Green</span> <span> markers are for <b>Help zones</b>.</span>
    </div>
    <div>
      <span style="color: red">Red</span> <span> markers are for <b>Danger zones</b>.</span>
    </div>
  </div>
  <div *ngIf="latitude && longitude && zoom && places" >
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <div *ngFor="let place of places">
        <agm-marker [latitude]="place!.latitude!" [longitude]="place!.longitude!" [iconUrl]="getIconUrl(place)">
          <agm-info-window [maxWidth]="200">
            {{ place.name }}
            <hr />
            {{ place.type }}
            <hr />
            <a href="https://www.google.com/maps?q={{ place.latitude }},{{ place.longitude }}" target="_blank">Get directions</a>
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
  </div>
</div>
