<mat-card *ngIf="post && post.author" class="mat-elevation-z4" style="margin: 8px; padding: 4px; background-color: white">
  <mat-card-title>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <img [src]="post.author.imageUrl" class="profile-image rounded-circle" style="width: 25px; height: 25px" alt="Avatar" /> •
        {{ post.author.firstName }} {{ post.author.lastName }} •
        {{ post.createdDate!.format('MMMM D, YYYY h:mm A') }}
      </div>
      <button mat-stroked-button color="accent" (click)="sendPostIdToParent()">
        <fa-icon icon="times"></fa-icon>
      </button>
    </div>
    <h1>{{ post.title }}</h1>
    <h4>{{ post.content }}</h4>
    <div>
      <button mat-raised-button color="primary" (click)="replyToPost()">Reply</button>
    </div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div *ngIf="post.postComments">
      <div *ngFor="let comment of post.postComments! | sort">
        <jhi-post-comment [comment]="comment" [loggedUser]="loggedUser!" (sendId)="deleteComment($event)"></jhi-post-comment>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="end end" class="border border-primary rounded" *ngIf="reply">
      <mat-form-field appearance="fill" style="width: 100%" class="rounded-3">
        <mat-label>Add comment</mat-label>
        <textarea matInput [formControl]="newComment"></textarea>
      </mat-form-field>
      <button style="margin: 2px" mat-raised-button color="primary" (click)="updatePost()">Send</button>
    </div>
  </mat-card-content>
</mat-card>
