<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Welcome!</span></h1>

    <p>We are here to help you to find a place to shelter in case of air raid, help place if you need any assistance
    and warn you about danger zones!</p>


    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as  "{{ account.login }}".</span>
      </div>
    </div>

    <jhi-places-map></jhi-places-map>
  </div>
</div>
